<div class="header home">
  <div class="header-container">
    <div class="container">
      <div class="box">
        <div class="title">
          <span class="blocks"></span>
          <h1 class='headline'>{{ meta.headline }}<span></span></h1>
        </div>
        <div class="role">
          <div class="blocks"></div>
          <p>data journalist</p>
        </div>
      </div>
    </div>

      <p class="currently">just graduated from Columbia University<br>and is visualizing data at The Wall Street Journal
      
      {{!-- <span id='nbc' class='currently-link'>NBCNews.com</span></p>

    <div id='nbc-clips' class='about'>
      <h3>NBC Clips <span id='nbc-close' style='float:right;right:0;'>&#215;</span></h3>
      {{#each nbc}}
            <a href="{{ story }}">
              <h3 class="nbcTitle"> {{ headline }}</h3>
              <p class="description"> {{ description }} </p>
            </a>
      {{/each}}
    </div> --}}

    <div class="socials">
      <a href={{meta.author.github}} title="Github" target="_blank"><i class="fab fa-github"></i></a>
      {{!-- <a href={{meta.author.linkedin}} title="Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a> --}}
      <a href={{meta.author.twitter}} title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href={{meta.author.email}} target="_top" title="E-mail"><i class="fa fa-envelope"></i></a>
      <a href={{meta.author.resume}} target="_blank" title="Resume"><i class="fas fa-file-alt"></i></a>
      <a target="_top" title="About Me"><i class='fab fa-angellist'></i></a>
      <!-- <a href="/Sawyer-Click.pdf" target="_blank" title="Resume"><i class="fas fa-file"></i></a> -->
    </div>
  </div>

  <script src="scripts/main.js"></script>
  <div class='body-container'>
    <div id='about' style='visibility: collapse; height: 0;'>
      <h2>About Me</h2>
      <p class='secret-bio'>{{meta.bio}}</p>
    </div>
  </div>
</div>