<div class="header home">
  <div class="header-container">
    <h1 class='headline'>{{ meta.headline }}</h1>
    <p class="currently">develops interactive graphics at Business Insider</p>
    <p class='secret-bio' id='about'>{{meta.bio}}</p>
    <div class="socials">
      <a href={{meta.author.github}} title="Github" target="_blank"><i class="fab fa-github"></i></a>
      <a href={{meta.author.twitter}} title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href={{meta.author.email}} target="_top" title="E-mail"><i class="fa fa-envelope"></i></a>
      {{!-- <a href={{meta.author.resume}} target="_blank" title="Resume"><i class="fas fa-file-alt"></i></a> --}}
      {{!-- <a target="_top" title="About Me"><i class='fab fa-angellist'></i></a> --}}
    </div>
  </div>
  <div class="arrow bounce"><i class="fas fa-chevron-down fa-3x" aria-hidden="true"></i></div>

    <script src="scripts/main.js"></script>
</div>