<div class="column">
  <div class='background {{ affiliation }}'>
    <a href="{{ site }}">
     <figure class="content {{ affiliation }} block">
      <div class='{{ affiliation }} affilationBackground info'>
        <p class='affiliation left-half'>{{ affiliationProper }}</p>
        <p class="affiliation right-half">{{ publishedDate }}</p>
      </div>
      <h3 class="title">{{ title }}</h3>
      <p class="description">{{ description }}</p>
      <img class="itemimage" src="{{ img }}" style="width:100%;">
      </figure>
    </a>
  </div>
</div>