<div class="column">
  <div class="content">
    <a href="{{ site }}">
      <div class="info">
        <div class="skills left-half nomargin"> {{ skills }} </div>
        <div class="date right-half nomargin"> {{ publishedDate }} </div>   
      </div>
      <img class="itemimage" src="{{ img }}" style="width:100%;">
      <h3 class="title"><span class="title"> {{ title }} </span></h3>
      <p class="description"> {{ description }} </p>
      </a>
  </div>
</div>