<div class="header">
    <p class="kicker">{{ kicker }}</p>
    <h1 class="headline">{{ headline }}</h1>
    <h2 class="subhead">{{ subhead }}</h2>
    <p class="byline">
        {{#if author.url }}
            <a href="{{ author.url }}">{{ author.name }}</a>
        {{else}}
            {{ author.name }}
        {{/if}}
    </p>
    <p class="date">Published {{ published_date }}</p>
</div>
